* {
  margin: 0;
  padding: 0;
}
.restaurantes .sub-header span {
  color: #DEDDDD;
}

p {
  font-size: 14px;
}

.restaurantes {
  gap: 10px;
}

.restaurante-valor {
  color: #ED6E27;
  ;
}

.restaurante-card {
  display: flex;
  margin: 10px 0px;
}

.restaurante-desc {
  box-sizing: border-box;
  background-color: #ebe9e9;
  ;
  height: 90px;
  width: 100%;
  padding: 5px;
  margin: 0;
}

.restaurantes img {
  width: 90px;
  height: 90px;
}